.float {
	position: fixed;
	width: 60px;
	height: 60px;
	bottom: 40px;
	right: 40px;
	background-color: #25d366;
	color: #FFF;
	border-radius: 50px;
	text-align: center;
	font-size: 30px;
	box-shadow: 2px 2px 3px #999;
	z-index: 100;
}

.my-float {
	margin-top: 16px;
}

#demoCanvas {
	animation: heartBeat 1s ease-in-out infinite;
}

@keyframes heartBeat {
	0% {
		transform: scale(.95);
	}
	5% {
		transform: scale(1.1);
	}
	39% {
		transform: scale(.85);
	}
	45% {
		transform: scale(1);
	}
	60% {
		transform: scale(.95);
	}
	100% {
		transform: scale(.9);
	}
}